
html{
    scroll-snap-type: none;
    scroll-padding-top: 84px;
}

@media (max-width: 767px) {
    html{
        scroll-padding-top: 71px;
    }
}

section{
    scroll-snap-align: start;
}


h1.title{
    line-height: 1.2em;
}

p{
    letter-spacing: 0.05em;
}

main{
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

body{
    font-family: 'montserrat', 'inherit';
}

.fixedRightScreen{
    right: calc((100% - 100vw) / 2);
}

.mainBgColor {
    background-color: #2C641E;
}

.bottomInsetShadow {
    position: relative;
}

.bottomInsetShadow:after{
    content: "";
    position: absolute; top: 0; bottom: 0; left: -15px; right: -15px;
    box-shadow: inset white 0 -50px 25px 10px;
    transition: "box-shadow 1s",
}

.bottomInsetShadow.uncovered:after{
    box-shadow: inset white 0 0px 0px 0px;
}

.link::after{
    content: '';
    display: block;
    width: 0px;
    height: 1px;
    background-color: black;
    transition: width 0.3s ease-in-out;
}

.link:hover::after{
    width: 100%;
} 

@media (hover: none) {
    .link::after{
        width: 100%;
    }

}

.insetShadow::after
{
 box-shadow: inset 0px -100px 60px 0 white;
 content: '';
 display: block;
 height: 100%;
 position: absolute;
 top: 0;
 width: 100%;
}

.noFocus{
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.noFocus:focus{
    outline: none !important;
}

footer .triangle{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100vw;
    height: 100%;
}

.swiper-pagination-bullet {
    height: 15px;
    width: 15px;
    background-color: #E27488;
}

.secondary .swiper-pagination-bullet {
    background-color: #719257;
}
