@font-face {
    font-family: 'montserrat';
    src: url('../../fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'montserrat-bold';
    src: url('../../fonts/Montserrat-Black.ttf');
}

@font-face {
    font-family: 'montserrat-medium';
    src: url('../../fonts/Montserrat-Medium.ttf');
}

@font-face {
    font-family: 'montserrat-semi-bold';
    src: url('../../fonts/Montserrat-Medium.ttf');
}

@font-face {
    font-family: 'montserrat-light';
    src: url('../../fonts/Montserrat-Light.ttf');
}

:root{
    --mainColor: #67a957
}

h1.title{
    font-family: 'montserrat-bold', 'inherit';    
    line-height: 1.2em;
}


p{
    font-family: 'montserrat-semi-bold', 'inherit';
    letter-spacing: 0.05em;
}

header{
    position: sticky;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 100;
    background-color: #FFF;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0, 0.75)
}

.headerContent{
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

main{
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

body{
    font-family: 'montserrat', 'inherit';
}

.fixedRightScreen{
    right: calc((100% - 100vw) / 2);
}

.mainColor {
    color: var(--mainColor);
}

.mainBgColor {
    background-color: #2C641E;
}

.button {
    background: linear-gradient(96.14deg, #68A957 0%, #74B463 100%);
    box-shadow: 0px 10px 22px rgba(172, 180, 159, 0.2);
    filter: drop-shadow(0px 15px 30px rgba(106, 170, 89, 0.3));
    color: #FFF;
}

.button:disabled {
    background: rgba(104, 169, 87, 0.2);
    color: rgba(103, 169, 87, 0.5);
    box-shadow: none;
    filter: none;
}

.bottomInsetShadow {
    position: relative;
}

.bottomInsetShadow:after{
    content: "";
    position: absolute; top: 0; bottom: 0; left: -15px; right: -15px;
    box-shadow: inset white 0 -50px 25px 10px;
    transition: "box-shadow 1s",
}

.bottomInsetShadow.uncovered:after{
    box-shadow: inset white 0 0px 0px 0px;
}

.link::after{
    content: '';
    display: block;
    width: 0px;
    height: 1px;
    background-color: black;
    transition: width 0.3s ease-in-out;
}

.link:hover::after{
    width: 100%;
} 

@media (hover: none) {
    .link::after{
        width: 100%;
    }

}

.insetShadow::after
{
 box-shadow: inset 0px -100px 60px 0 white;
 content: '';
 display: block;
 height: 100%;
 position: absolute;
 top: 0;
 width: 100%;
}

.noFocus{
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.noFocus:focus{
    outline: none !important;
}

footer .triangle{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100vw;
    height: 100%;
}