{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "printWidth": 100,
  "endOfLine": "auto",
  "plugins": [
    "./node_modules/prettier-plugin-organize-imports/index.js",
    "./node_modules/prettier-plugin-tailwindcss/dist/index.js"
  ],
  "pluginSearchDirs": false
}
